.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 50px 0;
  width: 100%;
}

.register-form-card {
  max-width: 550px;
  width: 90%;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.register-card mat-card-header {
  position: relative;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  left: 0;
  top: 0;
}

.register-form-card mat-card-title {
  font-size: 24px;
  font-weight: 700;
  color: #3f51b5;
}

.register-form-card mat-card-subtitle {
  font-size: 16px;
  color: #666;
}

.full-width-input {
  width: 100%;
  margin-bottom: 10px;
}

.card-actions-center {
  display: flex;
  justify-content: center;
  padding: 10px 0 0 0;
}

.register-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  background-color: #3f51b5;
}
